.header {
  background-color: rgba(248, 251, 255, 1);
  // background-color: #3434ff;
  // height: 330px;
  // background-position-x: -260px;
  // position: relative;
  // @media (max-width: 700px) {
  //   background-position-x: calc(100vw - 900px);
  // }
  // position: absolute;
  // z-index: 2;
  // height: 100%;
  // width: 100%;
  // background-image: url("./course-detailed-bg.png");
  // text-align: center;
  padding: 80px 0 100px 0;

  @media screen and (max-width:768px) {
    padding: 40px 0 60px 0;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width:992px) {
      flex-wrap: wrap;
      gap: 48px;
    }

    // @media (max-width: 700px) {
    //   max-width: 80%;
    // }

    .content__left {
      width: 50%;

      @media screen and (max-width:992px) {
        width: 100%;
      }

      .content {
        &__title {
          font: 600 50px/normal 'Montserrat';
          margin-bottom: 0;
          color: #0B0B2C;

          @media screen and (max-width:576px) {
            font: 600 40px/normal 'Montserrat';
          }

          @media screen and (max-width:425px) {
            font: 600 30px/normal 'Montserrat';
          }
        }

        &__reviews {
          display: flex;
          align-items: center;
          gap: 18px;
          padding: 25px 0;

          p {
            margin-bottom: 0;
          }
        }

        &__body {
          color: #5D5D63;
          font: 600 20px/normal 'Montserrat';
          margin: 0;

          @media screen and (max-width:425px) {
            font: 600 16px/normal 'Montserrat';
          }
        }

        &__info {
          display: flex;
          align-items: center;
          gap: 46px;
          padding: 40px 0 60px 0;

          @media screen and (max-width:576px) {
            flex-wrap: wrap;
            gap: 16px;
            padding: 20px 0 40px 0;
          }

          &__item {
            display: flex;
            align-items: center;
            gap: 7px;
            color: #0B0B2C;
            font: 400 20px/normal 'Montserrat';

            @media screen and (max-width:425px) {
              font: 400 18px/normal 'Montserrat';
            }

            p {
              margin: 0;
            }
          }
        }

        &__button {
          padding: 18px;
          width: 340px;
          background-color: rgba(52, 52, 255, 1);
          font: 600 14px/normal 'Montserrat';
          color: #fff;
          border-radius: 4px;
          border: 2px solid transparent;
          position: relative;
          z-index: 0;

          @media screen and (max-width:576px) {
            width: 100%;
          }

          &::after {
            content: '';
            width: 0%;
            height: 100%;
            background-color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            transition: all .3s linear;
          }

          &:hover {
            border-color: rgba(52, 52, 255, 1);
            // background-color: #fff;
            color: rgba(52, 52, 255, 1);

            &::after {
              width: 100%;
              right: auto;
              left: 0;
            }
          }
        }
      }
    }

    .content__right {
      width: 450px;
      height: 500px;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      z-index: 0;

      &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0 , 0 , 0, .2);
        z-index: -1;
      }

      @media screen and (max-width:1200px) {
        width: 350px;
        height: 400px;
      }

      @media screen and (max-width:992px) {
        width: 100%;
        height: 500px;
      }

      @media screen and (max-width:576px) {
        height: 400px;
      }

      @media screen and (max-width:425px) {
        height: 300px;
      }

      // img{
      //   max-width: 100%;
      // }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
      }

      .content {
        &__right {
          &__shape {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgba(251, 87, 76, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 3px;
            z-index: 0;

            &::after,
            &::before {
              content: '';
              position: absolute;
              z-index: -1;
              border-radius: 50%;
            }

            &::after {
              width: 80px;
              height: 80px;
              background-color: rgba(251, 88, 76, 0.6);
              top: -10px;
              left: -10px;
            }

            &::before {
              width: 100px;
              height: 100px;
              background-color: rgba(251, 88, 76, 0.2);
              top: -20px;
              left: -20px;
            }
          }
        }
      }
    }
  }
}

.video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width:800px;
  height: 500px;
  background-color: transparent;
  outline: none;
  &:focus{
    outline: none;
  }
  // border: 2px solid #000;
  iframe , .video__frame , #player , img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
  @media screen and (max-width:992px){
    min-width: 90%;
    height: 300px;
  }
}
#player{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

::selection{
  background-color: #0B0B2C;
  color: #fff;
}

body {
  overflow-x: hidden;
}

.card-wrapper {
  border: 1px solid #dbdbdb;
  padding: 30px;

  .card-item {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.video-wrapper {
  iframe {
    width: 100%;

    * {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.overview-wrapper {
  border: 1px solid #dbdbdb;
  padding: 30px;
}

.lesson {
  padding: 10px 18px;

  &:nth-child(even) {
    background-color: #e8e8fe;
  }
}

.instructor-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  .avatar {
    height: 155px;
    width: 155px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
  }

}

.prices{
  width: 100%;
  background-color: rgba(52, 52, 255, 1);
  padding: 150px 0 190px 0;
  position: relative;
  z-index: 0;

  &::after{
    content: '';
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.18);
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -1;

    @media screen and (max-width:1200px){
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  &__title{
    font:600 32px/normal 'Montserrat';
    color: #fff;
    padding-bottom: 64px;
  }
}

.main {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width:768px) {
    padding: 40px 0;
  }

  &__left {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width:992px) {
      width: 100%;
    }

  }

  &-image {
    height: 400px;
    width: 100%;
    border-radius: inherit;
  }
}

.content__titles {
  font: 600 44px/normal 'Montserrat';
  color: #0B0B2C;

  @media screen and (max-width:576px) {
    font: 600 34px/normal 'Montserrat';
  }

  @media screen and (max-width:425px) {
    font: 600 26px/normal 'Montserrat';
  }
}


// advantages
.advantages__section {
  position: relative;
  z-index: 0;

  &::after,
  &::before {
    content: '';
    width: 800px;
    height: 800px;
    border-radius: 50%;
    position: absolute;

    @media screen and (max-width:1200px) {
      display: none;
    }
  }

  &::after {
    background-color: rgba(255, 238, 238, 1);
    top: 20%;
    right: -20%;
    z-index: -2;
  }

  &::before {
    top: 50%;
    right: -25%;
    border: 1px solid rgba(52, 52, 255, 0.24);
    z-index: -1;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 150px 0;


  @media screen and (max-width:768px) {
    padding: 40px 0;
  }

  .content__titles {
    width: 40%;

    @media screen and (max-width:992px) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    .advantages {
      &__item {
        width: 31.5%;
        min-height: 290px;
        padding: 40px 90px 40px 24px;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all .3s linear;
        cursor: pointer;

        &:hover {
          transform: scale(1.01, 1.01);
        }

        @media screen and (max-width:1200px) {
          width: 48%;
        }

        @media screen and (max-width:992px) {
          width: 100%;
        }

        @media screen and (max-width:425px) {
          padding: 40px 24px;
        }

        &__icon {
          width: 50px;
          height: 50px;
          border-radius: 4px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__title {
          font: 600 24px/normal 'Montserrat';
          color: #0B0B2C;
        }

        &__body {
          font: 400 16px/normal 'Montserrat';
        }
      }
    }
  }
}

// abouts
.abouts {
  width: 67%;

  @media screen and (max-width:1200px) {
    width: 100%;
  }
}

.about__courses {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 150px 0;

  @media screen and (max-width:768px) {
    padding: 0 0 40px 0;
  }

  &__content {
    position: relative;
    z-index: 0;

    .video-frame {
      iframe {
        width: 100%;
      }
    }
  }
}

.about__info {
  padding: 0 0 150px 0;
  display: flex;
  flex-direction: column;
  gap: 42px;

  @media screen and (max-width:768px) {
    padding: 0 0 40px 0;
    gap: 22px;
  }
}

.demo__forms{
  margin: 190px 0;
  background-color: rgba(248, 251, 255, 1);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 60px 0;

  @media screen and (max-width:768px){
    margin: 0;
    border-radius: 0;
  }

  &__content{
    width: 30%;
    @media screen and (max-width:1200px){
      width: 40%;
    }
    @media screen and (max-width:992px){
      width: 60%;
    }
    @media screen and (max-width:576px){
      width: 80%;
    }
  }
  &__title{
    font: 600 32px/normal "Montserrat";
    color: rgba(11, 11, 44, 1);
    padding-bottom: 28px;
    @media screen and (max-width:576px){
      font: 600 26px/normal 'Montserrat';
    }
    span{
      color: #3434FF;
    }
    img{
      margin-top: -20px;
    }
  }
  &__input{
    width: 100%;
    margin-bottom: 14px;
    input{
      border: 1px solid rgba(212, 231, 255, 1);
      border-radius: 6px;
      background-color: #fff;
      color: #0B0B2C;
      padding: 15px 15px 15px 14px;
      width: 100%;

      &:focus{
        outline-color: #3434FF;
      }
      &::placeholder{
        font: 400 16px/normal "Montserrat";
        color: rgba(200, 200, 200, 1);
      }
    }
  }
}

.reviews{
  padding: 200px 0 ;
  @media screen and (max-width:768px){
    padding: 50px 0;
  }
  .reviews__top{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width:768px){
      width: 100%;
    }
    &__title{
      font: 600 44px/normal "Montserrat";
      padding-bottom: 10px;
      color: rgba(11, 11, 44, 1);
      @media screen and (max-width:768px){
        font: 600 26px/normal "Montserrat";
      }
    }    
    &__body{
      font: 400 18px/normal "Montserrat";
      color: rgba(78, 84, 95, 1);
    }
  }
  .reviews__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
    &__overall{
      font: 600 44px/normal "Montserrat";
      color: #0B0B2C;
      margin: 0;
    }
    &__all{
      font: 600 18px/normal "Montserrat";
      margin: 0;
    }
    &__right{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 6px;
      p{
        margin: 0;
        font: 400 18px/normal "Montserrat";
        color: rgba(11, 11, 44, 1);
      }
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__card{
    background-color: rgba(248, 251, 255, 1);
    border-radius: 12px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    &__header{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @media screen and (max-width:576px){
        flex-wrap: wrap;
        flex-direction: column;
        gap: 16px;
      }
    }
    &__author{
      display: flex;
      align-items: center;
      gap: 12px;
      .reviews__card{
        &__image{
          width: 52px;
          height: 52px;
          border: 6px;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__stars{
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
      h3{
        font: 600 18px/normal "Montserrat";
        color: rgba(24, 26, 30, 1);
        margin: 0;
        padding-bottom: 8px;
      }
    }
    &__body{
      font: 400 16px/28px "Montserrat";
      color: rgba(78, 84, 95, 1);
      padding: 16px 0 32px 0;
    }
    &__foot{
      font: 500 16px/28px "Montserrat";
      color: rgba(78, 84, 95, 1);
      display: flex;
      justify-content: flex-end;
      .reviews__card{
        &__share{
          gap: 10px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}

.detailed-course-wrapper {
  // display: grid;
  // grid-template-columns: 1.8fr 1fr;
  // gap: 10px;



  .main-page {
    width: 100%;





    .lesson {
      padding: 10px 18px;
      border-radius: 4px;
      overflow: hidden;

      &:nth-child(even) {
        background-color: rgba(232, 232, 254, 1);
      }
    }

    .instructor {
      margin-bottom: 20px;

      .inside {
        display: flex;
        gap: 40px;
        align-items: center;

        .avatar {
          height: 150px;
          width: 150px;
          border-radius: 20px;
          object-fit: cover;
        }
      }
    }
  }

  .card-sticky {
    position: sticky;
    top: 90px;
    height: 100px;
    // background-color: #5be55d;
    width: 100%;

    .price-card {
      padding: 3px 10px;
      border: 1px solid #e0dddd;
      border-radius: 10px;
      color: #000;

      .item {
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        p {
          margin: 0;
        }
      }

      .purchase-button {
        all: unset;
        text-align: center;
        border-radius: 5px;
        background-color: #4dca88;
        display: block;
        padding: 2px 0;
        width: 100%;
        cursor: pointer;
        transition: 0.15s;

        &:hover {
          background-color: #157347;
        }
      }

      .purchase-button:disabled {
        background-color: #9bd0b4;
        color: #878585;
      }
    }
  }
}